[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/TheCherno/ImGui
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/csooriyakumaran/implot
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm

[submodule "vendor/imnodes"]
	path = vendor/imnodes
	url = https://github.com/csooriyakumaran/imnodes
